selene==2.0.0rc8
selenium==4.18.1
pytest~=8.0.0
pytest-ordering
faker~=23.2.0
xlrd~=2.0.1
openpyxl~=3.1.2
pypdf~=4.0.2
pypdf[image]
allure-pytest
StrEnum~=0.4.15
python-dotenv==1.0.1
requests~=2.31.0
jsonschema~=4.21.1
curlify~=2.2.1